// ------------------------------
// 归档页样式
// ------------------------------

.archive-year
    font-size 32px
    padding 30px 0px
    color $text_color
    span.year-block
    span.year-info
        display inline-block
    span.year-block
        width 50px
        height 25px
        background-color $theme_color
        border-radius 3px
    span.year-info
        margin-left -20px
        &:first-letter
            color #fff

