// ------------------------------
// 多端响应适配
// ------------------------------

@media screen and (max-width:960px)
    .body-box
        width 100%
    .sidebar
        width 250px
        position absolute
        top 0
        left 0
        height 100%
        overflow hidden
        .widget-tags
            display none
    .content-article
        position absolute
        top 0
        left 0px
        width 100%
        .article-post
            padding 0px
        .content-article-box
            padding 20px
        .mobile-toggle
            display block !important
            margin 20px
            img 
                display block
                width 30px


